<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>在线便利贴</title>
    <link rel="stylesheet" type="text/css" href="/css/iconfont.css">
  </head>
  <body>
    <div id="header">
      <a class="add-note" title="点击添加便签" href="javascript:void(0)">
        <i class="iconfont icon-pen"></i>
        <span>添加</span>
      </a>
      <ul class="user-area">
        <% if(isLogin){ %>
          <li><img src="<%= user.avatar %>" alt=""></li>
          <li><a href="<%= user.url %>" target="_blank"><span title="<%= user.username %>"><%= user.username %></span></a></li>
          <li><span class="bound"> | </span></li>
          <li><a class="logout" href="/auth/logout">注销</a></li>
        <% }else{ %>
          <li>
            <a class="login" title="点击进行GitHub登录" href="/auth/github">
              <i class="iconfont icon-github"></i>
              <span>GitHub登录</span>
            </a>
          </li>
        <% } %>
      </ul>
    </div>
    
    <div id="content"></div>

    <div class="bg"></div>
    

    <script src="/js/index.js"></script>
    <script src="/js/MarkdownIME.min.js"></script>
  </body>
</html>
